@* You can access the model by using Model. This property contains the object you passed in the
action as a parameter to View().

The @ in front of Model means that you are running a bit of C# code. Note that you don't have to
specify where the C# code ends. *@
<h1>@Model.FirstName @Model.LastName</h1>
<p>Nationality: @Model.Nationality</p>